/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199px) {
  /*画面サイズが1199px以下だったらここを読み込む*/

  .navbar {
    background-color: rgba(0, 0, 0, 0.7);
  }

  .navbar-nav li :hover{
    border: none;
  }

  .fa-twitter, .fa-instagram {
    margin-right:15px;
    margin-left:10px;
  }

  *:focus {
    outline:none !important;
  }

  /*------------私について---------------*/

  .profile {
    flex-direction: column;
  }

  .icon {
    text-align: center;
  }

  .aboutme {
    width:100%;
  }

  .aboutme h2 {
    margin-top:30px;
  }

  .yusaku { /*yusakuicon*/
    float:none;
    width:100%;
    height:auto;
    box-sizing: border-box;
  }

  
  
   .service_back_first{
     background-image: url(../image/responsiveBlack.jpg);
     background-size:cover;
     background-attachment:local;
   }

   .service_back_second{
     background-image: url(../image/responsiveplutinum.jpg);
     background-size:100% auto;
     background-attachment:local;
   }

   .service_back_third{
     background-image: url(../image/responisvegold.jpg);
   }

   .service_item h1 {
     font-size:50px;
     line-height: 250px;
   }

 }


/*------------------ここまで1199px--------------*/


/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991px) { /*--col-md--*/
  /*画面サイズが991px以下だったらここを読み込む*/

  .navbar {
    background-color: rgba(0, 0, 0, 0.7);
  }

  .navbar-nav {
    margin-top:30px;
  }

  .navbar-nav li :hover{
    border: none;
  }

  .fa-twitter, .fa-instagram {
    margin-right:15px;
    margin-left:10px;
  }

  *:focus {
    outline:none !important;
  }

  /*------------私について---------------*/

  .profile {
    flex-direction: column;
  }

  .icon {
    text-align: center;
  }

  .aboutme {
    width:100%;
  }

  .aboutme h2 {
    margin-top:30px;
  }

  .yusaku { /*yusakuicon*/
    float:none;
    width:100%;
    height:auto;
    box-sizing: border-box;
  }


   
  .service_back_first{
     background-image: url(../image/responsiveBlack.jpg);
     background-size:cover;
     background-attachment:local;
   }

   .service_back_second{
     background-image: url(../image/responsiveplutinum.jpg);
     background-size:100% auto;
     background-attachment:local;
   }

   .service_back_third{
     background-image: url(../image/responisvegold.jpg);
   }

   .service_item h1 {
     font-size:50px;
     line-height: 250px;
   }

 }


/*------------------ここまで991px--------------*/



/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767px) { /*--col-sm--*/
  /*画面サイズが767px以下だったらここを読み込む*/

  .navbar {
    background-color: rgba(0, 0, 0, 0.7);
  }

  .navbar-nav {
    margin-top:30px;
  }

  .navbar-nav li :hover{
    border: none;
  }

  .fa-twitter, .fa-instagram {
    margin-right:15px;
    margin-left:10px;
  }

  *:focus {
    outline:none !important;
  }

  /*------------私について---------------*/

  .profile {
    flex-direction: column;
  }

  .icon {
    text-align: center;
  }

  .aboutme {
    width:100%;
  }

  .aboutme h2 {
    margin-top:30px;
  }

  .yusaku { /*yusakuicon*/
    float:none;
    width:100%;
    height:auto;
    box-sizing: border-box;
  }
  
     .service_back_first{
     background-image: url(../image/responsiveBlack.jpg);
   }

   .service_back_second{
     background-image: url(../image/responsiveplutinum.jpg);
   }

   .service_back_third{
     background-image: url(../image/responisvegold.jpg);
   }

   .service_item h1 {
     font-size:40px;
     line-height: 190px;
   }



 }



/*------------------ここまで767px--------------*/



/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) { /*--col-xs--*/
/*画面サイズが575px以下だったらここを読み込む*/

  .contents{
    padding-top:30px;
  }

  .image {
    height:60vh;
  }

  .navbar {
    background-color: rgba(0, 0, 0, 0.7);
  }

  .navbar-nav {
    margin-top:30px;
  }

  .navbar-nav li :hover{
    border: none;
  }

  .fa-twitter, .fa-instagram {
    margin-right:15px;
    margin-left:10px;
  }

  *:focus {
    outline:none !important;
  }

  /*-----------私について---------------*/
  .profile {
    flex-direction: column;
  }

  .icon {
    text-align: center;
  }

  .aboutme {
    width:100%;
  }

  .aboutme h2 {
    margin-top:30px;
    font-size:30px;
  }

  .aboutme h3{
    font-size:27px;
  }

  .aboutme p {
    line-height:25px;
    font-size:15px;
    margin-top: 30px;
  }


  .yusaku { /*yusakuicon*/
    width:100%;
    height:auto;
  }

  .skill h2 {
    font-size:30px;
  }

  .skill_item li {
    font-size:20px;
    line-height: 50px;
  }
  
  
   .service_back_first{
     background-image: url(../image/responsiveBlack.jpg);
   }

   .service_back_second{
     background-image: url(../image/responsiveplutinum.jpg);
   }

   .service_back_third{
     background-image: url(../image/responisvegold.jpg);
   }

   .service_item h1 {
     font-size:40px;
     line-height: 190px;
   }
  
     /*-------------------サービス内容--------------------------*/

   .hp-make span{
     padding-top:20px;
   }

   .price li{
     padding-bottom:35px;
   }

  /*-------------------お問い合わせ-------------------*/

  .submitform {
    background-color: #d3d3d3;
    padding:5px 10px;
    padding-bottom: 30px;
  }

 }
