@media screen and (max-width: 1000px) {
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) { /*--col-xs--*/
/*画面サイズが575px以下だったらここを読み込む*/
  .navbar {
    background-color: rgba(0, 0, 0, 0.7);
  }

  .navbar-nav {
    margin-top:30px;
  }

  .navbar-nav li :hover{
    border: none;
  }

  .fa-twitter, .fa-instagram {
    margin-right:15px;
    margin-left:10px;
  }

  *:focus {
    outline:none !important;
  }

  /*-----------私について---------------*/
  .profile {
    flex-direction: column;
  }

  .icon {
    text-align: center;
  }

  .aboutme {
    width:100%;
  }

  .aboutme h2 {
    margin-top:30px;
    font-size:30px;
  }

  .aboutme h3{
    font-size:27px;
  }

  .aboutme p {
    line-height:25px;
    font-size:15px;
    margin-top: 30px;
  }


  .yusaku { /*yusakuicon*/
    width:100%;
    height:auto;
  }

  .skill h2 {
    font-size:30px;
  }

  .skill_item li {
    font-size:20px;
    line-height: 50px;
  }

  .service_back_first{
    background-image: url(black.jpg);
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  /*-------------------お問い合わせ-------------------*/

  .submitform {
    background-color: #d3d3d3;
    padding:5px 10px;
    padding-bottom: 30px;
  }

 }

 /*<p>
   2000年生まれの榎本悠作です。<br>
   現在は大阪を拠点に学生フリーランスとして<br>
   LP・HP制作を中心に活動しています。<br>
   大学２年生からプログラミングを勉強しはじめ、<br>
   ありがたいことにお仕事を頂いているので<br>
   現在も活動しています。<br>
   お客様の期待を超える制作を心がけています。
 </p>*/

















/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767px) { /*--col-sm--*/
  /*画面サイズが767px以下だったらここを読み込む*/

  .navbar {
    background-color: rgba(0, 0, 0, 0.7);
  }

  .navbar-nav {
    margin-top:30px;
  }

  .navbar-nav li :hover{
    border: none;
  }

  .fa-twitter, .fa-instagram {
    margin-right:15px;
    margin-left:10px;
  }

  *:focus {
    outline:none !important;
  }

  /*------------私について---------------*/

  .profile {
    flex-direction: column;
  }

  .icon {
    text-align: center;
  }

  .aboutme h2 {
    margin-top:30px;
  }

  .yusaku { /*yusakuicon*/
    float:none;
    width:100%;
    height:auto;
    box-sizing: border-box;
  }

  /*---------------制作実績----------*/



 }






/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991px) { /*--col-md--*/
  /*画面サイズが991px以下だったらここを読み込む*/

  .navbar {
    background-color: rgba(0, 0, 0, 0.7);
  }

  .navbar-nav {
    margin-top:30px;
  }

  .navbar-nav li :hover{
    border: none;
  }

  .fa-twitter, .fa-instagram {
    margin-right:15px;
    margin-left:10px;
  }

  *:focus {
    outline:none !important;
  }

  /*------------私について---------------*/

  .profile {
    flex-direction: column;
  }

  .icon {
    text-align: center;
  }

  .aboutme h2 {
    margin-top:30px;
  }

  .yusaku { /*yusakuicon*/
    float:none;
    width:100%;
    height:auto;
    box-sizing: border-box;
  }


  /*---------------制作実績----------*/


 }




/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199px) {
  /*画面サイズが1199px以下だったらここを読み込む*/

  .navbar {
    background-color: rgba(0, 0, 0, 0.7);
  }

  .navbar-nav li :hover{
    border: none;
  }

  .fa-twitter, .fa-instagram {
    margin-right:15px;
    margin-left:10px;
  }

  *:focus {
    outline:none !important;
  }

  /*------------私について---------------*/

  .profile {
    flex-direction: column;
  }

  .icon {
    text-align: center;
  }

  .aboutme h2 {
    margin-top:30px;
  }

  .yusaku { /*yusakuicon*/
    float:none;
    width:100%;
    height:auto;
    box-sizing: border-box;
  }




  /*---------------制作実績----------*/


 }
