* {
  margin:0;
  padding:0;
}

.container-fluid{
  width:100%;
  padding: 0 !important; /*左右全体の余白を消去*/
}

.navbar {
  background-color: rgba(0, 0, 0, 0.7);
}

.nav-icon {  /*twitter and instagram icon */
  font-size:30px;
}

/*twiiter,instaアイコン*/
.fa-twitter, .fa-instagram {
  margin-right: 30px;
  color: white;
  opacity:0.7;
}
.fa-twitter:hover {
  color: white;
  opacity:1;
}
.fa-instagram:hover {
  color: white;
  opacity:1;
}
/*twiiter,instaアイコンここまで---------------*/

.navbar-toggler{
  margin-left:15px;
}

.navbar-nav li{  /*ヘッダー５つ*/
  font-size:20px;
  margin-left:15px;
}

.navbar-nav li :hover{ /*白い線ホバー*/
  border-bottom: 1px solid white;
  margin-bottom: -1px;
}

.image {
  background-image: url('apple.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height:90vh;
  width:100%;
}



/*------------Profile about me ---------------*/

.contents {
  padding-bottom:100px;
  padding-top:100px;
  width:75%; /*サイトの幅*/
  margin: 0 auto;
}


.profile {
  display:flex;
  justify-content: space-between;
}

.about {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding-bottom:20px;
  margin-bottom:50px;
}

.about h1{ /*-profile--*/
  font-family: futura-pt,sans-serif;
  font-size:50px;
  font-weight:bold;
}

.about h5{ /*--Who I am--*/
  font-family: 'Noto Serif SC',serif;
  font-style: italic;
}

.yusaku {
  width:550px;
  height:370px;
}

.web {
  margin-top:-30px;
  margin-bottom:50px;
}

.aboutme h1 {
  border-left:5px solid #49d49d;
  padding-left: 15px;
}

.skill {
  margin-top:50px;
}

.skill h1{
  border-left:5px solid #49d49d;
  padding-left: 15px;
}

/*--------------------work paragraph------------------------*/

.work {
  margin-top:100px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding-bottom:20px;
  margin-bottom:50px;
}

.work h1{ /*-profile--*/
  font-family: futura-pt,sans-serif;
  font-size:50px;
  font-weight:bold;
}

.work h5{ /*--Who I am--*/
  font-family: 'Noto Serif SC',serif;
  font-style: italic;
}


/*-------------------service paragraph-------------------*/

.service {
  margin-top:100px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding-bottom:20px;
  margin-bottom:50px;
}

.service h1{ /*-profile--*/
  font-family: futura-pt,sans-serif;
  font-size:50px;
  font-weight:bold;
}

.service h5{ /*--Who I am--*/
  font-family: 'Noto Serif SC',serif;
  font-style: italic;
}

/*-------------------contact paragraph-------------------*/

.contact {
  margin-top:100px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding-bottom:20px;
  margin-bottom:50px;
}

.contact h1{ /*-profile--*/
  font-family: futura-pt,sans-serif;
  font-size:50px;
  font-weight:bold;
}

.contact h5{ /*--Who I am--*/
  font-family: 'Noto Serif SC',serif;
  font-style: italic;
}

.form h2 {
  border-left:5px solid #49d49d;
  padding-left: 15px;
}
