html {
  scroll-behavior: smooth;
}

* {
  margin:0;
  padding:0;
}

.container-fluid{
  width:100%;
  padding: 0 !important; /*左右全体の余白を消去*/
}

.navbar {
  background-color: rgba(0, 0, 0, 0.7);
}

.nav-icon {  /*twitter and instagram icon */
  font-size:30px;
}

/*twiiter,instaアイコン*/
.fa-twitter, .fa-instagram {
  margin-right: 30px;
  color: white;
  opacity:0.7;
}
.fa-twitter:hover {
  color: white;
  opacity:1;
}
.fa-instagram:hover {
  color: white;
  opacity:1;
}
/*twiiter,instaアイコンここまで---------------*/

.navbar-toggler{
  margin-left:15px;
}

.navbar-nav li{  /*ヘッダー５つ*/
  font-size:20px;
  margin-left:15px;
}

.navbar-nav li :hover{ /*白い線ホバー*/
  border-bottom: 1px solid white;
  margin-bottom: -1px;
}

.image {
  background-image: url('./apple.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height:90vh;
  width:100%;
}



/*------------Profile about me ---------------*/

.contents {
  padding-bottom:100px;
  padding-top:100px;
  width:75%; /*サイトの幅*/
  margin: 0 auto;
}


.profile {
  display:flex;
  justify-content: space-between;
}

.about {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding-bottom:20px;
  margin-bottom:50px;
}

.about h1{ /*-profile--*/
  font-family: futura-pt,sans-serif;
  font-size:50px;
  font-weight:bold;
}

.about h5{ /*--Who I am--*/
  font-family: 'Noto Serif SC',serif;
  font-style: italic;
}

.yusaku {
  width:530px;
  height:370px;
}

.explain {
  margin-top:-30px;
  margin-bottom:50px;
}

.aboutme {
  word-wrap:break-all;
  padding-right:15px;
  width:50%;
}

.aboutme h2 {
  border-left:5px solid #49d49d;
  padding-left: 20px;
  font-size:2.5em;
}

.aboutme h3 {
  font-size:2em;
  margin-top:30px;
}

.aboutme p {
  line-height:40px;
  font-size:20px;
  margin-top: 30px;
}

.skill {
  margin-top:50px;
}

.skill h2{
  border-left:5px solid #49d49d;
  padding-left: 20px;
  font-size:2.5em;
}

.skill_all {
  margin-top: 100px;
}

.skill_item {
  background-color: #d3d3d3;
  padding:50px 50px 50px 70px;
  margin-top:30px;
}

.skill_item li{
  font-size:25px;
  line-height: 70px;
}



/*--------------------制作実績------------------------*/

.work {
  margin-top:100px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding-bottom:20px;
  margin-bottom:50px;
}

.work h1{ /*-profile--*/
  font-family: futura-pt,sans-serif;
  font-size:50px;
  font-weight:bold;
}

.work h5{ /*--Who I am--*/
  font-family: 'Noto Serif SC',serif;
  font-style: italic;
}


/*-------------------サービス内容-------------------*/

.service {
  margin-top:100px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding-bottom:20px;
  margin-bottom:50px;
}

.service h1{ /*-profile--*/
  font-family: futura-pt,sans-serif;
  font-size:50px;
  font-weight:bold;
}

.service h5{ /*--Who I am--*/
  font-family: 'Noto Serif SC',serif;
  font-style: italic;
}

.explain {
  margin-top:-30px;
  margin-bottom:50px;
}

.service_all {
  width:100%;
}

.service_all p {
  margin-top:50px;
}

.service_back_first{
  background-image: url(black.jpg);
  background-size:cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.service_back_second{
  background-image: url(platinum.jpg);
  background-size:cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.service_back_third{
  background-image: url(gold.jpg);
  background-size:cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.service_back_first a {
  text-decoration: none;
}

.service_back_first a :hover {
  background-color: rgba(255, 255, 255, .1);
}

.service_back_second a {
  text-decoration: none;
}

.service_back_second a :hover {
  background-color: rgba(255, 255, 255, .1);
}

.service_back_third a {
  text-decoration: none;
}

.service_back_third a :hover {
  background-color: rgba(255, 255, 255, .1);
}

.service_item {
  height:250px;
  text-align: center;
}

.service_item h1 {
  color: white;
  line-height: 250px;
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
  font-style: italic;
  margin-top:100px;
  background-color: rgba(0, 0, 0, 0.5);
}

/*-------------------お問い合わせ-------------------*/

.contact {
  margin-top:100px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding-bottom:20px;
  margin-bottom:50px;
  font-family: cursive;
  flex-flow: column;
}

.contact h1{ /*-profile--*/
  font-family: futura-pt,sans-serif;
  font-size:50px;
  font-weight:bold;
}

.contact h5{ /*--Who I am--*/
  font-family: 'Noto Serif SC',serif;
  font-style: italic;
}

.form h3 {
  border-left:5px solid #49d49d;
  padding-left: 15px;
}

.form_all {
  width:100%;
}

.form_item {
  margin-top:20px;
}

.submitform {
  background-color: #d3d3d3;
  padding: 30px 50px;
  margin-top:30px;
}

.text, .email, .tel { /*入力ボックス*/
  margin-top:10px;
  padding:5px 20px 5px 10px;
}

.submitform textarea {
  width:100%;
  padding:5px 10px;
  margin-top:10px;
}

.submit {
  padding:10px 60px !important;
  background-color: #49d49d;
  border:3px solid #49d49d;
  border-radius:5px;
  color: white;
  margin-top:30px;
}

.submit:hover {
  background-color:white;
  color:#49d49d;
}

input[type="text"]:focus {
  border: 2px solid #95f9e3;
  outline: 0;
}

input[type="email"]:focus {
  border: 2px solid #95f9e3;
  outline: 0;
}

input[type="tel"]:focus {
  border: 2px solid #95f9e3;
  outline: 0;
}

textarea[name="message"]:focus {
  border: 2px solid #95f9e3;
  outline: 0;
}
